.styled-table {
    border-collapse: separate;
    border-radius: 20px;
    border: solid #009879 5px;
    overflow: hidden;
    background-color: #009879;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.styled-table thead td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody td {
    border-left: solid #009879 1px;
    border-top: solid #009879 1px;
    padding: 12px 15px;
    text-align: center;
    background-color: #ffffff;
}

.styled-table tbody tr {
    border-bottom: 1px solid #009879;
    margin: 0;
    padding: 0;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}